button {
  @include responsive(s) { 
    font-size: 0.9em;
    padding: .4em .6em;
  }
  @include responsive(m) { 
    font-size: 1.2em;
    padding: 0.6em 1.2em;
  }
}


#panel .canvas-container {
  overflow: hidden;
  margin: 0 auto;

  @include responsive(s) { 
    width: 320px;
  }
  @include responsive(m) {
    width: 100%;
  }
}

#top-bar li {
  @include responsive(s) { 
    display: block;
    text-align: right;
  }
  @include responsive(m) { 
    display: inline-block;
  }
}

section.description {
  @include responsive(s) { 
    margin-bottom: 3em;
    font-size: 0.85rem;
    padding: 0 1em;
  }
  @include responsive(m) { 
    margin-bottom: 6.5em;
    font-size: 1.1rem;
  }
}