@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matteo\/Sites\/ng-drawing\/app\/css\/reset\.scss}line{font-family:\0000310}}
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
small, strike, strong, sub, sup, tt, var,
article, aside, canvas, details, embed,
fieldset, form, label, legend,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matteo\/Sites\/ng-drawing\/app\/css\/reset\.scss}line{font-family:\0000319}}
header, footer, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matteo\/Sites\/ng-drawing\/app\/css\/reset\.scss}line{font-family:\0000323}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matteo\/Sites\/ng-drawing\/app\/css\/reset\.scss}line{font-family:\0000327}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matteo\/Sites\/ng-drawing\/app\/css\/reset\.scss}line{font-family:\0000331}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matteo\/Sites\/ng-drawing\/app\/css\/reset\.scss}line{font-family:\0000336}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/matteo\/Sites\/ng-drawing\/app\/css\/reset\.scss}line{font-family:\0000341}}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
