<header id="header">

  <h2>
    TRIALREACH FRONTEND ASSESSMENT
    <span>
      The task is to create a little web app that draws shapes on a page based on a user's commands
    </span>
  </h2>
</header>

<section class="description">
  <p class="bold">Commands available:</p>
  <ul>
    <li>
      <span class="bold">clear 'colour':</span>
      set the whole canvas to the given colour
    </li>
    <li>
      <span class="bold">rectangle 'x' 'y' 'w' 'h' 'colour':</span>
      draw an unfilled rectangle with a border of the given colour
    </li>
    <li>
      <span class="bold">line 'x1' 'y1' 'x2' 'y2' 'colour':</span>
      draw a line with the given colour
    </li>
    <li>
      <span class="bold">fill 'x' 'y' 'colour':</span>
      flood-fill starting at the given location
    </li>
  </ul>
</section>
